.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@font-face {
  font-family: 'KCCMurukmuruk';
  src: url('./fonts/KCCMurukmuruk.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'UhBeeSeHyun';
  src: url('./fonts/UhBeeSehyun.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'UhBeeSeHyunBold';
  src: url('./fonts/UhBeeSehyunBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PretendardVariable';
  src: url('./fonts/PretendardVariable.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

.my-page {
  font-family: 'KCCMurukmuruk', sans-serif;
} 

html, body {
  height: 100%;
  margin: 0;
  background-color: #FEEFE1;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.main-heading, .link-item {
  font-family: 'KCCMurukmuruk', sans-serif;
  font-size: 24px;
  margin-bottom: 20px;
}

.link-container {
  display: flex;
  justify-content: center;
}

.link-item {
  margin: 0 15px;
  text-decoration: none;
  color: #333;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: color 0.3s ease;
}

.icon-style {
  font-size: 30px;
  margin-bottom: 10px;
}

.gallery {
  text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 10px; 
}

.grid-item {
  width: 100%;
  aspect-ratio: 1;
}


.grid-item:hover {
  transform: scale(1.05);
}

.preview {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.preview-image {
  max-width: 90vw;
  max-height: 90vh;
}

/* 기본 스타일 */
.container {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

/* 화면 너비가 768px 이상일 때 적용될 스타일 */
@media (min-width: 768px) {
  .container {
    width: 750px;
    margin: 0 auto;
  }
}

/* 화면 너비가 1024px 이상일 때 적용될 스타일 */
@media (min-width: 1024px) {
  .container {
    width: 970px;
  }
}